<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">mCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
      <a class="nav-link" routerLink="/user/signin">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/signup">Sign Up</a>
    </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="jumbotron text-center">
  <h1 class="display-4 text-center">mCart!</h1>
  <p class="lead text-center">Get set buy..</p>
  <!-- <hr class="my-4"> -->
    <!-- <a routerLink="/user/signin" class="btn btn-primary m-1">Sign In</a>
    <a routerLink="/user/signup" class="btn btn-primary m-1">Sign Up</a> -->
    <router-outlet></router-outlet>
</div>
